appmode: dev
brand: goodcompany
bindip: 127.0.0.1
httpport: 8080
username: tech.goodcompany@jobsmediagroup.com.full
password: KJGHjgf!*HHg6
securitytoken: B6yaJl3wTZ3XIvGuHwW3ceTiV

consumerkey: 3MVG9uAc45HBYUriLzgLaqctzgCHZm6bkv1uEHGddMppWT0._02MxpjFJaTiDtB8yFRtRgTi.2Et3wW3XbC4u
consumersecret: 3E2B1FD9EDE7098C5CBCF4EB5A9F6DDB48A532D4D077C1414D8318632D89B50E

endpointurirest: /services/data/v56.0/
urlloginrest: https://test.salesforce.com/services/oauth2/token

logdir: ./log 
persistentdatadir: ./persistentdata 
cachedir: ./filescache

previousprocesstokill: sfsoap

UseSolr:false
#SolrBaseURL:http://127.0.0.1:8983/solr/