appmode: prod
brand: goodcompany
bindip: 127.0.0.1
httpport: 8080
username: tech.goodcompany@jobsmediagroup.com.backup
password: Tech707707;
securityToken: Rk5LP2zJaABGT8rej010pVy7

consumerkey: 3MVG96_7YM2sI9wR8nSu2vL9L3FXZi..niZp.j1mnQZsrV3tx2RbXavPuPrDFAGyTJpy7kS4fygFUkb5lWgVs
consumersecret: 7F480ACB56D2898F6BE6F8758BD9ADD2FA0713586FFC6A7BABADB09E8499B042

endpointurirest: /services/data/v56.0/
urlloginrest: https://test.salesforce.com/services/oauth2/token

logdir: ./log 
persistentdatadir: ./persistentdata 
cachedir: ./filescache

previousprocesstokill: sfsoap

UseSolr:false
#SolrBaseURL:http://127.0.0.1:8983/solr/